name: fyp_env
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  - numpy
  - scipy
  - pandas
  - scikit-learn
  - networkx
  - tqdm
  - matplotlib
  - pip
  - pip:
    - ogb